.modal-backdrop {
  position: fixed !important;
  inset: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: rgba(0, 0, 0, 0.3); /* add blur layer */
  z-index: 999999999 !important; /* SUPER HIGH */
  transform: none !important;
  isolation: isolate;
}


.modal-box {
  background: white;
  padding: 2rem;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  z-index: 9999999999 !important;
  position: relative;
  align-items: stretch;
  gap: 1rem;
}
.modal-box h2{
  color: black;
  font-weight: 100;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}

textarea {
  height: 100px;
}
input::placeholder,
textarea::placeholder {
    font-family: 'Times New Roman', Times, serif;   
}

.stars {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.svg-star {
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-right: 10px;
}

.svg-star:hover {
  transform: scale(1.1);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  width: 100%;
  margin-top: 10px;
}

.modal-actions button {
  padding: 10px 35px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.modal-actions button:first-child {
  background-color: white;
  color: blue;
  border-color: #e7e7e7;
}

.close-btn {
  background-color: rgb(55, 130, 228);
  color: white;
  position: static !important;
}

/* Styled file upload */
.custom-file-upload {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: rgb(221, 238, 252);
  border-width: 0;
  color: black;
  width: 100%;
  padding: 10px 18px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.custom-file-upload label{
  color: black;
}

.custom-file-upload:hover {
  background-color: rgb(188, 219, 247);
}

.upload-icon {
  font-size: 20px;
  color: #80bfff;
}

.file-name {
  margin-top: 8px;
  font-size: 14px;
  color: #444;
}
